# dependencies
node_modules/

# next.js build output
.next/
out/

# environment variables
.env
.env.local
.env.*.local

# vercel
.vercel

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor / IDE
/.idea
/.vscode
/.cursor

# OS
.DS_Store
Thumbs.db

#opencode
/.codegraph
/.opencode
/.omo
/.playwright-mcp
.log